#container {
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
}
#header {
  background-color: #f6f4f4;
  height: 52px;
  width: 100%;
  padding: 5px;
}
#header-image {
  position: absolute;
  margin-top: 15px;
  margin-left: 20px;
}
#nav {
  position: absolute;
  list-style: none;
}
div.style {
  width: 470px;
  float: left;
  margin-left: 75px;
}

}
@media (max-width: 470px) {
   *div.style {
    width: 100%;
    height: auto;
  }

}
@media (min-width: 940px) {
    div.style {
      width: 100%;
      height: auto;
    }
}
@media (min-width: 1410px) {
  div.style {
    width: 100%;
    height: auto;
  }
}
